# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: debug-statements
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.39.2
    hooks:
      - id: typos
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.16.3
    hooks:
      - id: zizmor
        args: [--fix=safe]
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.3.1
    hooks:
      - id: cspell
        exclude: .vscode
