name: autofix.ci
on:
  pull_request:
    branches:
      - "main"
permissions: {}
jobs:
  lint:
    permissions:
      contents: read
    name: Code lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          # It threats '3.10' as 3.1
          python-version: '3.10.11'
          cache: true
      - name: Install deps
        run: pdm install --without benchmark
      - name: Restore pre-commit hooks
        uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Linter
        run: pdm lint
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
        if: always()
      - name: Type check
        run: pdm mypy
