name: Update dependencies
on:
  schedule:
    - cron: '0 0 * * 0'
jobs:
  dependencies-update:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          ref: main
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.10"
          cache: true
      - name: Update dependencies
        run: pdm update --update-all --unconstrained
      - name: Create Pull Request
        id: create-pr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.REPO_PAT }}
          branch: update/deps-autoupdate-${{ github.run_id }}
          title: Auto-update dependencies
          commit-message: Auto-update dependencies
      - name: Automerge commit
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        run: gh pr merge "${PR_NUMBER}" --auto --squash --delete-branch
        env:
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ steps.create-pr.outputs.pull-request-number }}
